.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav > :first-child {
  flex-shrink: 0;
}

.logo {
  max-height: 5.2rem;
  height: auto;
  width: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: auto;
  padding: 0;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
}

.nav a:global(.active) {
  color: var(--color-brand--2);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--color-brand--2);
  color: var(--color-dark--0);
  padding: 0.8rem 2rem;
  border-radius: 7px;
  transition: background-color 0.3s;
}

a.ctaLink:hover,
a.ctaLink:active {
  background-color: var(--color-brand--1);
}
